html {
    width: calc(1900rem / 16);
    height: calc(1900rem / 16);

    > body {
        > main {
            display: flex;
            justify-content: center;

            > .player-one-board {
                width: calc(700rem / 16);
                height: calc(700rem / 16);
                background-color: pink;

                > div {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    border: solid 1px black;

                    > div {
                        width: 10%;
                        height: 100%;
                        border: solid 1px black;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.miss {
    background-color: crimson;
}

.hit {
    background-color: orange;
}

.water {
    background-color: skyblue;
}

.carrier {
    background-color: lightcoral;
}

.battleship {
    background-color: lightgreen;
}

.cruiser {
    background-color: goldenrod;
}

.submarine {
    background-color: thistle;
}

.destroyer {
    background-color: pink;
}
