html {
    width: calc(1903rem / 16);
    height: calc(993rem / 16);

    > body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        > main {
            display: none;
            justify-content: center;
            gap: calc(50rem / 16);

            > .player-one-board,
            > .player-two-board {
                width: calc(700rem / 16);
                height: calc(700rem / 16);
                background-color: pink;

                > div {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    border: solid 1px black;

                    > div {
                        width: 10%;
                        height: 100%;
                        border: solid 1px black;
                        text-align: center;
                    }
                }
            }
        }

        .ship-orientation-choice,
        .ship-choices {
            display: none;
            margin: calc(20rem / 16) auto 0 auto;
        }
    }
}

.miss {
    background-color: crimson;
}

.hit {
    background-color: orange;
}

.water {
    background-color: skyblue;
}

.carrier {
    background-color: lightcoral;
}

.battleship {
    background-color: lightgreen;
}

.cruiser {
    background-color: goldenrod;
}

.submarine {
    background-color: thistle;
}

.destroyer {
    background-color: pink;
}
